<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>searches</title>
</head>
<body>
    <form action="/search" method="POST">
        <input type="text" name="booktype">
        <br>
        <label for="">title</label>        
        <input type="radio" name="formOne" value="title" id="">
        <br>
        <label for="">auther</label>
        <input type="radio" name="formOne" value="auther" id="">
        <input type="submit" value="searche">
    </form>
</body>
</html>